<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <title>Document</title>
  </head>
  <body>
    <section id="main-section">
      <span id="counter">Counter</span>
      <span
        id="number"
        [ngStyle]="{
          color: counter > 0 ? 'green' : counter < 0 ? 'red' : ''
        }"
        >{{ counter }}</span
      >
      <div id="buttons">
        <div id="btn-decrease" class="btn" (click)="decreaseNumber()">
          Decrease
        </div>
        <div id="btn-reset" class="btn" (click)="counter = 0">Reset</div>
        <div id="btn-increase" class="btn" (click)="increaseNumber()">
          Increase
        </div>
      </div>
    </section>
  </body>
</html>
